<!DOCTYPE html>
<html>
<head>
    <title>이메일 작성</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/compose_email.css">
</head>
<body>
    <div class="container">
        <h1>이메일 작성</h1>
        <form action="/send_email" method="post" onsubmit="sendEmail(event)">
            <input type="hidden" name="participant_ids" value="{{ participant_ids }}">
            <input type="hidden" name="body" id="body">
            <input type="text" name="cc" class="cc-input" placeholder="참조 (CC) - 쉼표로 구분된 이메일 주소">
            <input type="text" name="subject" placeholder="제목을 입력하세요" required>
            <div id="editor"></div>
            <button type="submit">이메일 발송</button>
            <div id="loading" class="loading-container">
                <span id="loading-icon" class="spinner"></span>
                <span id="loading-text">이메일 발송 중...</span>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="../static/js/compose_email.js"></script>
</body>
</html>
